.blocklyMainBackground {
  stroke-width: 5;
  stroke-dasharray: 5;
  stroke: #91B886;  /* Equates to #ddd due to border being off-pixel. */
}

.blocklyScrollbarHandle {
  fill: #91B886;
}

.btnBox {
  display: flex;

  justify-content: flex-end;

  align-items: flex-end;
}

.convertBtn {
  border: none;
  background-color: #FEFDE9;
  margin-right: 10%;
}

.FaPlayBtn {
  vertical-align: middle;
}

.Btn {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
