.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #FFFFFF;
  transition: height 0.5s;
}

.banner {
  height: 45%;
}

.headerbtn {
  transition: background-color 0.3s, color 0.3s;
}

.headerbtn-container {
  display: flex;
  margin-left: auto;
}

.headerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  width: 180px;
  height: 50px;
  border: 3px solid #A1C398;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #A1C398;
  background-color: #FFFFFF;
}

.headerbtn:hover {
  color: #FFFFFF;
  background-color: #A1C398;
  cursor: pointer;
}

.toggle-button {
  margin: 60px;
  display: inline-block;
  color: #A1C398;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE */
  user-select: none;
}

.toggle-button span {
  font-size: 30px;
}