@font-face {
  font-family: Nanum Gothic;
  src: url(./fonts/NanumGothic-Regular.ttf);
}

@font-face {
  font-family: Nanum Gothic Bold;
  src: url(./fonts/NanumGothic-ExtraBold.ttf);
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, aConsolas, 'Courier New',
    monospace;
}

.container {
  height: 100vh;
  background-color: #FEFDE9;
}